Repository UWC2-APIDOC/to-do-service-sp25, pull requests merged in 2025-05, with the labels that each got.

#78 Assignment 3.4, Issue #42
  assignments/markdown_lyerdev.md
Labels: Assignment_3.4

#79 Create markdown_cristinalom.md
  assignments/markdown_cristinalom.md
Labels: Assignment_3.4

#84 Create markdown_juliebro.md
  assignments/markdown_juliebro.md
Labels: Assignment_3.4, InProgress

#85 Create markdown_allenaavila.md
  assignment/markdown_allenaavila.md
Labels: Assignment_3.4, InProgress

#91 add pros and cons of using markdown as a documentation language
  assignments/markdown_rachaelallen91.md
Labels: Assignment_3.4

#80 Assignment 3.4 – Markdown Pros and Cons (rgm_procon.md)
  assignments/markdown_allenaavila.md
  assignments/markdown_rgmejiagroup.md
Labels: Assignment_3.4

#83 Create my-api-example_KusumaKrish15.md
  assignments/markdown_KusumaKrish15.md
Labels: Assignment_3.4

#87 PR for Assignment 3.4: Writing a markdown file
  assignments/markdown_arielleang.md
Labels: Assignment_3.4

#89 Create markdown_cjmoreno094.md
  assignments/markdown_cjmoreno094.md
Labels: Assignment_3.4

#92 Feature
  assignments/markdown_jwmarshall69.md
Labels: Assignment_3.4

#90 feat: assignment 3.4 for Jeff Naemura
  assignments/markdown_Naem-J.md
Labels: Assignment_3.4

#82 Feature branch 2
  assignments/markdown_mettedata.md
Labels: Assignment_3.4

#208 Add a new overview topic to fix #103
  docs/index.md
  docs/overviews/to-do-overview_allenaavila.md
Labels: Assignment_6.1

#185 Feature 2 - KusumaKrish15 to create a new Overview topic for the To-Do Service - Fixes Issue #107
  docs/index.md
  docs/overviews/to-do-overview_KusumaKrish15.md
Labels: Assignment_6.1

#205 Add get-task-by-id.md to tutorials and add link in tutorials.md to fix issue #132
  docs/tutorials.md
  docs/tutorials/get-task-by-id.md
Labels: Assignment_6.2

#217 Add a new GET user tutorial topic to fix issue #124
  docs/tutorials.md
  docs/tutorials/get-user-by-user-id.md
Labels: Assignment_6.2

#210 Add new GET user reference topic to fix issue #144
  docs/api/user.md
  docs/api/users-get-user-by-last-name.md
Labels: Assignment_6.3

#218 Add a new POST users reference topic to fix #140
  docs/api/user.md
  docs/api/users-post-users.md
Labels: Assignment_6.3

#221 created a new reference topic about POST /tasks to fix #141
  docs/api/task.md
  docs/api/tasks-add-a-task.md
Labels: Assignment_6.3

#176 Feature6.1
  docs/index.md
  docs/overviews/to-do-overview_cristinalom.md
Labels: Assignment_6.1

#204 Add a new overview file for Jeff Naemura and add link in index.md to fix issue #111
  docs/index.md
  docs/overviews/to-do-overview_Naem-J.md
Labels: Assignment_6.1

#228 Assignment 6.1 - Issue #115
  docs/index.md
  docs/overviews/to-do-overview_lyerdev.md
Labels: Assignment_6.1
